html{
    color: white;
    background-color: #0B6552;
}

.fancy {animation:fade-in 0.5s;}
@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}

.rhein{
    background: #151515 url("../img/rhein.webp") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 70vh;
}

.no-webp.rhein{
    background: #151515 url("../img/rhein.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.strassburg{
    background: #151515 url("../img/strassburg.webp") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.no-webp.strassburg{
    background: #151515 url("../img/strassburg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.quote{
    display: flex;
    margin: 5em;
    text-align: -webkit-center;
    place-content: center;
}

.splash .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .7;
}

.quote h1{
    font-size: 200%;
}

.quote .text{
    padding: 1rem;
    max-width: 450px;
    margin-left: 10rem;
}
hr{
    border:none;
}

.splash .content{
    position: sticky;
    vertical-align: middle;
    display: table-cell;
}

.image{
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    display: table;
}

.image-location{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    background: rgba(128, 128, 128, 0.6);
    padding: 2px;
    font-size: 80%;
}

.title{
    padding-bottom: 2rem;
}

.title h1,.title h2{
    padding-top: 1rem;
}

.splash {
    background-color: #0B6552;
    text-align: center;
    height: 100vh;
    display: table;
}

.splash .button{
    display: inline-flex;
    margin: 1rem;
}

.row{
    display: inline-flex;
}

button{
    background:#809d3196;
    border: none;
    font-size: initial;
    padding: 0;
    padding-right: 7px;
    border-radius: 3px;
    text-align: left;
    min-width: 90px;
    font-size: 140%;
    transition: 0.3s;
}

iframe{
    height: 92.4vh;
    display: flex;
    width: 100%;
}

button.home{
    background-color: #0B6552;
}

button.twitter{
    background-color: rgba(29, 160, 242, 0.6);
}

button.github{
    background-color: rgba(0, 0, 0, 0.6);
}

button.blog{
    background-color: rgba(255, 166, 0, 0.6);
}

button.portfolio{
    background-color: rgba(184, 22, 22, 0.6);
}

button.science{
    background-color: rgba(122, 184, 22, 0.6);
}

button:hover{
    background:rgba(255,255,255,0.4);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus{
    outline: none;
}
button .icon{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
    background-color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: initial;
}

button .name{
    display: inline;
    padding: 0.5em;
}

@media only screen and (min-width:769px){
    .small-display{
        display: none;
    }    

    .middle-display{
        display: none;
    }

    .big-display{
        display: inherit;
    }

    h1{
        font-size: 600%;
    }
}

@media only screen and (max-width:768px) and (min-width:426px){

    .big-display{
        display: none;
    }

    .middle-display{
        display: inherit;
    }

    .small-display{
        display: none;
    }

    .quote{
        margin: 0;
        margin-top: 5em;
        margin-bottom: 5em;
        display: inherit;
    } 

    .quote .text{
        margin:0
    }
    
    .row{
        display: table-row-group;
    }

    .splash .content{
        text-align: -webkit-center;
    }
    .left{
        float: left;
    }

    .right{
        float: right;
    }

    .splash .title h1{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .splash .title{
        padding-bottom: 1rem;
        text-align: -webkit-center;
    }

    h1{
        font-size: 500%;
    }

}

@media only screen and (max-width:425px){
    .big-display{
        display: none;
    }

    .middle-display{
        display: none;
    }

    .small-display{
        display: inherit;
    }

    .quote{
        margin: 0;
        margin-top: 5em;
        margin-bottom: 5em;
        display: inherit;
    }

    .quote .text{
        margin:0
    }

    h1{
        font-size: 400%;
    }

    .row{
        display: block;
    }

    .splash .button{
        margin-top: 0;
        display: block;
        font-size: 70%;
    }

    .splash .title h1{
        max-inline-size: min-content;
    }

    .splash .title{
        text-align: -webkit-center;
    }
}