@import url('utils.css');

.science .bar{
    padding: 1ch;
    background-color: black;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Roboto Condensed',sans-serif;
}

.science .card{
    margin-top: 1em;
    border-radius: 3px;
    width: 462px;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    white-space: nowrap;
    position: relative;
    min-height: 600px;
}

.science .card img{
    border-radius: 3px;
    width: 212px;
    height: 300px;
    object-fit: cover;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.science .card-text{
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    width: 260px;
    padding: 10px;
    margin-top: 5px;
    white-space: normal;
    text-align: left;
    position: absolute;
    top: 270px;
    left: 182px;
}

.science .card-title{
    font-size: 220%;
    width: 230px;
    text-align: left;
    position: absolute;
    top: 50px;
    left: 222px;
    white-space: normal;
    text-align: left;
}

@media only screen and (min-width:1024px){
    .science .card{
        margin-right: 2em;
        margin-left: 2em;
    }
}