html{
    font-family: "Trebuchet MS";
    text-rendering: optimizeLegibility!important;
}

body{
    margin:0;
    padding:0;
}


a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}

/*
* Color
*/

.grey{
    color: rgb(60,60,60)
}

.grey a,
.grey a:link,
.grey a:hover{
    color: rgb(60, 60, 60);
}

.gold{
    color: #86711d;
}

.red{
    color: #b81616;
}

.orange{
    color: orange;
}
.green{
    color: #0B6552;
}

.science-green{
    color: #7ab816;
}

.lime{
    color: #74b816;
}

.yellowgreen{
    color: yellowgreen;
}

.white{
    color: white
}

.blue{
    color: royalblue;
}

.twitterblue{
    color: #1DA1F2;
}

.black{
    color: black!important;
}

/*
* Background colors
*/

.blue-back{
    background-color: royalblue;
}

.yellowgreen-back{
    background-color: yellowgreen;
}

.gold-back{
    background-color: #86711d;
}

/*
* Fonts
*/

.rainbow{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, red), color-stop(0.2, orange), color-stop(0.4, yellow), color-stop(0.6, green), color-stop(0.8, blue), color-stop(1, purple) );
    background-image: gradient( linear, left top, right top, color-stop(0, red), color-stop(0.2, orange), color-stop(0.4, yellow), color-stop(0.6, green), color-stop(0.8, blue), color-stop(1, purple) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: rainbow both;
}

@keyframes rainbow{
    0%{
        color: transparent;
    }
    100% {
        color: white;
    }
}

.rainbow:hover{
    animation: rainbow;
}

.verdana-font{
    font-family: "Verdana",sans-serif;
}

.fs800{
    font-size: 800%;
}

.fs700{
    font-size: 700%;
}

.fs600{
    font-size: 600%;
}

.fs500{
    font-size: 500%;
}

.fs400{
    font-size: 400%;
}

.fs300{
    font-size: 300%;
}

.fs200{
    font-size: 200%;
}

.fs150{
    font-size: 150%;
}

.fs90{
    font-size: 90%;
}

.fs80{
    font-size: 80%;
}

.fs50{
    font-size: 50%;
}

.fs70{
    font-size: 70%;
}

.fs25{
    font-size: 25%;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

.uppercase{
    text-transform: uppercase;
}

/*
* Div utils
*/

.right{
    float: right;
}

.left{
    float: left;
}

.no-margin{
    margin: 0!important;
}

.inline-block{
    display: inline-block;
}

.w10{
    width: 10%;
}

.w33{
    width: 33%;
}

.w49{
    width: 49.5%;
}

.w50{
    width: 50%;
}

.w80{
    width: 80%;
}

.top{
    vertical-align: top;
}

.bottom{
    vertical-align: bottom;
}

/*
* Ribbon
*/

.ribbon{
    background-color: #0B6552;
    height: 10px;
    margin-bottom: 1rem;
}

/*
* Main divs
*/

.main{
    white-space: nowrap;
}