---
import Error from "../layouts/Error.astro";
---
<Error>
    <header>
        <h2 class="text-4xl font-bold m-2">A wild 404 appeared.</h2>
        <p class="text-xl m-5">This content does not exist?</p>
    </header>
</Error>