---
import Navbar from "../components/Navbar.astro";
import Main from "../layouts/Main.astro";
---
<Main>
    <Navbar></Navbar>
    <div class="max-w-full mx-auto">
        <h1 class="text-2xl sm:text-3xl font-semibold text-white mb-6 border-b pb-2 border-white">
            Kontakt
        </h1>
        <div class="space-y-2 text-white">
            <p>
                <span class="font-medium">Telefon/Signal/WhatsApp:</span>
                <a href="tel:+4917622095047" class="hover:underline">+49 176 22095047</a>
            </p>
            <p>
                <span class="font-medium">E-Mail:</span>
                <a href="mailto:privat@filiperamalho.de" class="hover:underline">privat@filiperamalho.de</a>
            </p>
        </div>

        <h1 class="text-2xl sm:text-3xl font-semibold text-white my-6 border-b pb-2 border-white">
            Impressum
        </h1>

        <div class="space-y-6">
            <!-- Angaben zum Betreiber -->
            <section>
                <h2 class="text-lg text-primary font-bold mb-3">
                    Angaben gemäß § 5 TMG
                </h2>
                <div class="space-y-2 text-white">
                    <p>Filipe Manuel De Sousa Ramalho</p>
                    <p>Berlinerstr. 29<br>55131 Mainz</p>
                    <p>Deutschland</p>
                </div>
            </section>

            <!-- Kontakt -->
            <section>
                <h2 class="text-lg text-primary font-bold mb-3">
                    Kontakt
                </h2>
                <div class="space-y-2 text-white">
                    <p>
                        <span class="font-medium">Telefon:</span>
                        <a href="tel:+4917622095047" class="hover:underline">+49 176 22095047</a>
                    </p>
                    <p>
                        <span class="font-medium">E-Mail:</span>
                        <a href="mailto:privat@filiperamalho.de" class="hover:underline">privat@filiperamalho.de</a>
                    </p>
                </div>
            </section>

            <!-- Rechtliche Hinweise -->
            <section>
                <h2 class="text-lg text-[#ffdd00] font-bold mb-3">
                    Rechtliche Hinweise
                </h2>
                <div class="space-y-4 text-white">
                    <p>
                        <strong>Verantwortlich für den Inhalt:</strong><br>
                        Filipe Manuel De Sousa Ramalho (Anschrift wie oben)
                    </p>
                    <p class="text-sm italic">
                        <strong>Haftungshinweis:</strong> Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine
                        Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich
                        deren Betreiber verantwortlich.
                    </p>
                </div>
            </section>


        </div>
    </div>

</Main>