---
import Main from '../layouts/Main.astro'
import AstroLogo from '../assets/logos/astro.svg'
import KotlinLogo from '../assets/logos/kotlin.svg'
import DockerLogo from '../assets/logos/docker.svg'
import TuxLogo from '../assets/logos/tux.svg'
import LaTeXLogo from '../assets/logos/latex.svg'
import PQSLLogo from '../assets/logos/pqsl.svg'
import PyTorchLogo from '../assets/logos/pytorch.svg'
import TorchquadLogo from '../assets/logos/torchquad.svg'
import MathematicaLogo from '../assets/logos/mathematica.svg'
import PWSHLogo from '../assets/logos/pwsh.svg'
import PythonLogo from '../assets/logos/python.svg'
import TWLogo from '../assets/logos/tailwindcss.svg'
import TSLogo from '../assets/logos/typescript.svg'
import TypstLogo from '../assets/logos/typst.svg'
import Button from "../components/Button.astro";
import Navbar from "../components/Navbar.astro";
---

<Main>
    <div class="sm:min-h-svh flex flex-wrap content-center">
        <div id="hero" class="min-h-svh sm:min-h-auto flex flex-wrap content-between">
            <Navbar></Navbar>
            <div id="intro" class="sm:basis-full w-full p-auto mb-4">
                <p class="py-2 font-bold text-xl">
                    Hallo, mein Name ist
                </p>
                <div class="flex flex-row flex-wrap">
                    <p class="text-5xl font-bold pr-8 mb-8">
                        Filipe <br/> Ramalho
                    </p>
                    <p class="flex-1 sm:min-w-100 basis-full sm:basis-0 sm:text-justify self-center hyphens-auto">
                        Ich bin fasziniert von Machine Learning und Data Science. Ich erweitere aktiv meine Kenntnisse,
                        um intelligente, datengetriebene Lösungen zu entwickeln. Meine Reise in der Welt des Machine
                        Learning wird von Neugierde angetrieben. Sei es, wenn ich Algorithmen erkunde, an eigenen
                        Projekten arbeite oder mich in die neueste Forschung vertiefe.
                    </p>
                </div>
            </div>
            <div id="socialmediabar" class="flex sm:flex-row flex-wrap sm:flex-nowrap w-full my-10 gap-7">
                <Button link="https://github.com/FilipeRamalho">
                    Github
                </Button>
                <Button link="https://www.linkedin.com/in/fmdsr/">
                    LinkedIn
                </Button>
                <Button link="https://www.instagram.com/filipe.mdsr/">
                    Instagram
                </Button>
            </div>
        </div>
        <div id="logo-marquee" class="flex overflow-x-hidden my-20 brightness-70">
            <div class="animate-[scroll_25s_linear_infinite] w-max flex py-2">
                <div class="flex mx-10">
                    <LaTeXLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></LaTeXLogo>
                </div>
                <div class="flex mx-10">
                    <MathematicaLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></MathematicaLogo>
                </div>
                <div class="flex mx-10">
                    <PythonLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></PythonLogo>
                </div>
                <div class="flex mx-10">
                    <PQSLLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></PQSLLogo>
                </div>
                <div class="flex mx-10">
                    <PWSHLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></PWSHLogo>
                </div>
                <div class="flex mx-10">
                    <PyTorchLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></PyTorchLogo>
                </div>
                <div class="flex mx-10">
                    <AstroLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></AstroLogo>
                </div>
                <div class="flex mx-10">
                    <DockerLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></DockerLogo>
                </div>
                <div class="flex mx-10">
                    <KotlinLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></KotlinLogo>
                </div>
                <div class="flex mx-10">
                    <TWLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TWLogo>
                </div>
                <div class="flex mx-10">
                    <TorchquadLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TorchquadLogo>
                </div>
                <div class="flex mx-10">
                    <TuxLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TuxLogo>
                </div>
                <div class="flex mx-10">
                    <TSLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TSLogo>
                </div>
                <div class="flex mx-10">
                    <TypstLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TypstLogo>
                </div>
            </div>
            <div class="animate-[scroll_25s_linear_infinite] py-2 w-max flex">
                <div class="flex mx-10">
                    <LaTeXLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></LaTeXLogo>
                </div>
                <div class="flex mx-10">
                    <MathematicaLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></MathematicaLogo>
                </div>
                <div class="flex mx-10">
                    <PythonLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></PythonLogo>
                </div>
                <div class="flex mx-10">
                    <PQSLLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></PQSLLogo>
                </div>
                <div class="flex mx-10">
                    <PWSHLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></PWSHLogo>
                </div>
                <div class="flex mx-10">
                    <PyTorchLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></PyTorchLogo>
                </div>
                <div class="flex mx-10">
                    <AstroLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></AstroLogo>
                </div>
                <div class="flex mx-10">
                    <DockerLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></DockerLogo>
                </div>
                <div class="flex mx-10">
                    <KotlinLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></KotlinLogo>
                </div>
                <div class="flex mx-10">
                    <TWLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TWLogo>
                </div>
                <div class="flex mx-10">
                    <TorchquadLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TorchquadLogo>
                </div>
                <div class="flex mx-10">
                    <TuxLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TuxLogo>
                </div>
                <div class="flex mx-10">
                    <TSLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TSLogo>
                </div>
                <div class="flex mx-10">
                    <TypstLogo class="h-12 w-auto object-contain mx-10 my-auto hover:scale-110"></TypstLogo>
                </div>
            </div>
        </div>
    </div>
    <div id="quote" class="mb-20  m-auto">
        <hr class="mb-10">
        <h1 class="font-bold text-2xl text-center w-full md:w-3/4 m-auto">It’s possible to commit no mistakes and still
            lose. That’s not a weakness, that is life.</h1>
        <h2 class="text-xl italic text-center w-full mt-2 md:w-3/4 m-auto">- Jean-Luc Picard</h2>
        <hr class="mt-10">
    </div>
</Main>

<style>
    #logo-marquee {
        mask-image: linear-gradient(
                to right,
                hsla(0, 0%, 0%, 0),
                hsl(0, 0%, 100%) 20%,
                hsl(0, 0%, 100%) 80%,
                hsla(0, 0%, 100%, 0)
        );
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
</style>