---
import Button from "./Button.astro";
interface Props {
    sm_margin?: number;
    margin?: number;
}

const {sm_margin = 10, margin = 10} = Astro.props
---
<div id="navbar" class=`flex flex-row justify-between w-min my-${margin} sm:my-${sm_margin} gap-7`>
    <Button primary link="/">
        Home
    </Button>
    <Button primary link="/cv">
        CV
    </Button>
    <Button primary link="/contact">
        Kontakt
    </Button>
</div>