---
import Main from "@/layouts/Main.astro";
---
<Main>
    <div class="text-center min-h-screen sm:min-h-auto sm:my-20 flex justify-center content-center flex-wrap">
            <h2 class="text-4xl font-bold m-2 basis-full">A wild 404 appeared.</h2>
            <p class="text-xl m-5 basis-full">This content does not exist?</p>
    </div>
</Main>